<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring W2 Assessment</title>
</head>
<body>
	<h1>Spring Week 2 Assessment</h1>
	<table>
		<tbody>
			<tr>
				<td>
					<a href="CreateEmployee">Register a new Employee</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="FindById">Display employee's information</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="DisplayAllEmployees">Display a list of all employees</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="FindById">Display employee's information</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="FindByFirstAndLastName">Search for Employee by their name</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>